@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');


//Font Variables
$Birthstone: 'Kaushan Script', 'Arial', cursive;
$Karla: 'Karla', 'Arial', sans-serif;

// Color Variables
$Gray-input: #B5B6B5;
$BlueLed-Button: #03e9f4;
$Green-click: #4BB543;