.nav-logo {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(25, 32, 36, 0.16);
          box-shadow: 0 3px 6px 0 rgba(25, 32, 36, 0.16);
}

.nav-logo .logo {
  margin: 19px 0 19px 16px;
}

.h-title {
  position: relative;
  top: 67px;
  left: 94px;
  font-family: "Helvetica-Neue", sans-serif;
  font-size: 44px;
  font-weight: 900;
  color: #000;
}

.form .f-title {
  position: relative;
  top: 73px;
  left: 94px;
  margin: auto;
  padding-right: 10px;
  font-family: "Helvetica-Neue", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #192024;
}

.form .f-check {
  position: relative;
  top: 73px;
  left: 94px;
}

.form .f-check input {
  margin-right: 10px;
}

.form .f-check label {
  margin-right: 24px;
}

import cors
.window {
  position: relative;
  top: 93px;
  left: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 240px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04), 0 3px 6px 0 rgba(25, 32, 36, 0.16);
          box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04), 0 3px 6px 0 rgba(25, 32, 36, 0.16);
}

import cors
.window img {
  margin-left: 18px;
  width: 32px;
  height: 32px;
}

import cors
.window h3 {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  color: #192024;
}

import cors
.window .show-data {
  display: none;
}

.window:hover {
  border: solid 1px #363f45;
}

.window:hover .airlane-name {
  display: none;
}

.window:hover .show-data {
  display: inline;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  line-height: 1;
  font-size: 88%;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

label {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  padding: .6em 0;
  margin: 0 15px;
}

h2 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  padding: .6em 0;
  margin: 0 15px;
}

h3 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  padding: .6em 0;
  margin: 0 15px;
}

h4 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  padding: .6em 0;
  margin: 0 15px;
}

h5 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  padding: .6em 0;
  margin: 0 15px;
}

h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  padding: .6em 0;
  margin: 0 15px;
}

pre {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none;
}

ol {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

dl {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

dt {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

dd {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

th {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

.floatLeft {
  float: left;
  padding: .5em .5em .5em 0;
}

.floatRight {
  float: right;
  padding: .5em 0 .5em .5em;
}
/*# sourceMappingURL=styles.css.map */