.my-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    h6{
        font-size: 12px;
    }

}

.copy{
    margin-left: 10px;
}

.design{
    margin-right: 10px;
}