@import '../variables/variables.scss';


#contact {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	top: 2rem;
	h2 {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
	}
	.f-contact{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	form {
		display: flex;
		flex-direction: column;
		width: 600px;
	}
	input{
		width: 100%;
		height: 50px;
		padding: 10px;
		border-radius: 25px;
		border: none;
		background-color:$Gray-input;
		color: white;
		outline: none;
	}
	input:focus{
		border: 5px solid $Green-click;
	}
	textarea {
		background-color: $Gray-input;
		border-radius: 25px;
		border: transparent;
		resize: none;
	}
	label{
		position: relative;
		top: 10px;
		left: 25px;
		background-color: black;
		color: white;
		width: max-content;
		border-radius: 5px;
		font-size: 1.5rem;
	}
}

.final-p {
	font-family: $Birthstone;
	font-size: 35px;
	position: relative;
	top: 10px;
	width: max-content;
	display: flex;
	justify-content: center;
}
	.social{
		position: relative;
		top: 50px;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		.fig{
			a{
				display: flex;
				align-items: center;
				justify-content: center;
			}
			width: 200px;
			.linkedin{
				display: flex;
				align-content: center;
				width: 100%;
			}
			.github{
				width: 70%;
			}
		}
		
	}
