@import '../variables/variables.scss';

.icon {
	margin: 10px;
}
.menu {
	display: flex;
	justify-content: space-around;
	align-content: center;
	height: 65px;
}

.nav-menu{
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu-name{
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-left: 5rem;
}
.menu-link{
	text-decoration: none;
	font-size: 18px;
	color: $White;
}

.hamburger{
	display: none;
}

.bar{
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3 ease-in-out;
	background-color: $White;
}


.back {
	background-image: url('./img/back.png');
	background-size: cover;
	border-radius: 15px;
	width: 100%;
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.back:hover {
	-webkit-animation: back 5s ease-out both;
	        animation: back 5s ease-out both;
}

 @-webkit-keyframes back {
	0% {
	  -webkit-transform: scale(1) translateY(0);
			  transform: scale(1) translateY(0);
	  -webkit-transform-origin: 50% 84%;
			  transform-origin: 50% 84%;
	}
	100% {
	  -webkit-transform: scale(1.25) translateY(15px);
			  transform: scale(1.25) translateY(15px);
	  -webkit-transform-origin: bottom;
			  transform-origin: bottom;
	}
  }
  @keyframes back {
	0% {
	  -webkit-transform: scale(1) translateY(0);
			  transform: scale(1) translateY(0);
	  -webkit-transform-origin: 50% 84%;
			  transform-origin: 50% 84%;
	}
	100% {
	  -webkit-transform: scale(1.25) translateY(15px);
			  transform: scale(1.25) translateY(15px);
	  -webkit-transform-origin: bottom;
			  transform-origin: bottom;
	}
  }
  