/* Import fonts */
@import url("https://use.typekit.net/rzn0icj.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    margin-top: 10px;
    position: relative;
    right: 30px;
    bottom: 10px;
}

.back {
    background-image: url('/projects/church-site/img/home.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: great-vibes,sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 40px;
    color: white;
    background-color: rgba(41, 72, 212, 0.377);
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: copse, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255 ,158, 0.93);
}

i {
    padding: 10px;
}

.history {
    display: flex;
    flex-direction: column;
    margin: 2.5em;
}

.history h1 {
    display: flex;
    font-family: great-vibes, sans-serif;
    font-size: 40px; 
    justify-content: center;
    margin: 25px;
}

.history p {
    display: flex;
    justify-content: center;
}



.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    height: 300px;
    width: 300px;
    margin: 20px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 60%;
}

.events {
    display: flex;
    flex-direction: column;
}
