/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Copse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import './breakpoints/breakpoints.scss';


// Fonts Variables
$Great-vibes: 'Great Vibes', cursive;
$Lato: 'Lato', sans-serif;
$Copse: 'Copse', serif;

//Color Variables
$menu-back: rgba(255, 255 ,158, 0.93);

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $Lato;
}
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $Lato;
}
section {
	display: flex;
	margin-top: 3em;
	flex-direction: column;
}
.logo {
	width: 100px;
	margin-top: 10px;
	position: relative;
	right: 30px;
	bottom: 10px;
}
.back {
	background-image: url('/projects/church-site/img/home.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.title {
	font-family: $Great-vibes;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	color: white;
	background-color: rgba(41, 72, 212, 0.377);
}
.menu {
	font-family: $Copse;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(255, 255 ,158, 0.93);
	text-decoration: none;
	a {
		text-decoration: none;
	}
}
i {
	padding: 10px;
}
#history {
	display: flex;
	flex-direction: column;
	margin: 2.5em;
	h1 {
		display: flex;
		font-family: $Great-vibes;
		font-size: 40px;
		justify-content: center;
		margin: 25px;
	}
	p {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}
#information {
	display: flex;
	justify-content: center;
}
.events {
	display: flex;
	flex-direction: column;
}
#back-missa {
	background-image: url("/projects/church-site/img/missa.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}
.title-missa {
	display: flex;
	justify-content: center;
	font-family: $Great-vibes;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	color: white;
}
#bg-confi {
	background-image: url('/projects/church-site/img/confessionario.png');
	background-position: center;
	background-size: cover;
	height: 400px;
	width: 50%;
}
#terco {
	background-image: url('/projects/church-site/img/terco.png');
	background-size: cover;
	background-position: center;
	width: 50%;
}
.title-c {
	display: flex;
	justify-content: start;
	font-family: $Great-vibes;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	color: white;
}
#contact {
	background-color: rgba(255, 255 ,158, 0.93);
}
footer {
	background-color: rgba(255, 255 ,158, 0.93);
}

.link {
	display: none;
}

@include media(">phone","<=465px"){
	body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	html {
		width: 100%;
	}

	section {
		height: max-content;
	}

	.logo {
		width: 50px;
		position: relative;
		left: 10px;
	}

	.menu{
		background-color: $menu-back;
		height: 100px;
		font-size: 20px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.logo {
		display: none;
	}
	
	.title {
		display: flex;
		font-size: 2.5rem;
		justify-content: space-around;
	}

	#history {
		font-size: 25px;
		display: flex;
		justify-content: center;
		margin: 10px;
	}

	#information{
		font-size: 25px;
		display: flex;
		justify-content: center;
		margin: 10px;
		p{
			text-align: center;
		}
		.col {
			display: flex;
			justify-content: center;
		}
	}

	#events {
		display: flex;
		flex-direction: column;
	}

	#back-missa{
		height: max-content;
		h2{
			text-align: center;
		}	
	}

	#bg-confi {
		background-position: center;
		background-size: cover;
		width: 100%;
	}

	#terco {
		background-position:right;
		background-size: cover;
		width: 100%;
		height: 300px;
	}

	.maps {
		display: none;
	}

	
	.endereco {
		display:flex;
		justify-content: center;
		flex-direction: column;
		margin: 10px;

		h2{
			text-align: center;
		}
	}

}